<div>
  <h3>Introduction To JavaScript</h3>
  <p>-dynamically typed , Synchronous & single-threaded Programming Language.
    -dynamically typed means the types are checked, and datatype mismatches are spotted only at the runtime.
    -JavaScript engine executes code from top to bottom, line by line.In other words, it is synchronous.
    -JavaScript engine has only one 'call-stack' so that it only can do one thing at a time.

    -A JavaScript engine is a program or an interpreter which executes JavaScript code.


    javascript Engines:
      V8  - is developed by Google , Google Chrome.
      SpiderMonkey - is developed by Mozilla , Firefox.
      JavaScriptCore  - is Apple's engine for its Safari browser.
      Chakra  - is the JavaScript engine of the Internet Explorer browser.</p>
</div>

