<mat-toolbar color="primary">
  <button (click)="opendrawer = !opendrawer" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Javascript</span>
   <a mat-button>Home</a>
   <a mat-button>About</a>
   <a mat-button>Contact</a>
  </mat-toolbar>
<mat-sidenav-container  class="example-container">
  <mat-sidenav  [(opened)]="opendrawer" mode="side">
    <a routerLinkActive="active" routerLink="introduction">Introduction</a>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
